* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Segoe UI", "Helvetica", sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
    }

    li {
        list-style: none;
    }

    strong {
        font-weight: 600;
    }
}

body {
    position: relative;
    background-color: #eee;

    min-height: 100vh;
    width: 100%;

    overflow-x: hidden;

    .page-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 0 5%;

        height: 100vh;
        width: 100vw;

        text-align: center;
        color: #555;

        h1 {
            display: flex;
            align-items: center;
            column-gap: 10px;
            font-weight: 600;
            font-size: 38px;

            img {
                width: 40px;
            }

            .red {
                color: #f14435;
            }
        }

        small {
            font-size: 16px;
        }

        .nav-links {
            margin-top: 1rem;
            ul {
                display: flex;
                column-gap: 20px;
                list-style: none;

                a {
                    font-weight: 600;
                    font-size: 14px;
                    color: #444;
                    transition: color 0.2s ease;

                    &:visited {
                        color: #444;
                    }

                    &:hover {
                        color: #f14435;
                    }
                }
            }
        }

        @mixin wrapper-page {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            padding-bottom: 15vh;

            width: 100vw;
            height: auto;

            text-align: left;
            line-height: calc(16px * 1.68);

            h2 {
                font-size: 24px;
                line-height: calc(24px * 1.68);
            }

            a {
                text-decoration: none;
                color: #555;
                .logo {
                    padding: 1rem 0;
                    cursor: pointer;
                    h1 {
                        font-size: 24px;
                    }
                }
            }
        }

        &.docs {
            @include wrapper-page();

            .docs-content {
                margin-bottom: 1.5rem;

                ul {
                    display: flex;
                    flex-direction: column;
                    margin-top: 0.5rem;
                    row-gap: 0.5rem;

                    ol {
                        margin-left: 1rem;
                        li {
                            list-style: decimal;
                        }
                    }
                }

                code {
                    display: block;
                    background-color: #222;
                    margin: 10px 0;
                    border-radius: 5px;
                    padding: 10px;
                    color: #eee;
                }

                hr {
                    margin: 0.5rem 0;
                }

                .example-link {
                    text-decoration: underline;
                    color: #f14435;
                }

                .usage {
                    table {
                        width: 100%;

                        .semibold-italic {
                            font-style: italic;
                            font-weight: 600;
                        }

                        .code {
                            font-family: "Courier New", "Lucida Consolas",
                                sans-serif;
                        }

                        td {
                            vertical-align: top;
                        }

                        td:nth-child(1) {
                            width: 25%;
                        }
                    }
                }
            }
        }

        .ins {
            margin: 1rem 0;
            border-radius: 5px;
            box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: 0.4);
        }

        &.example {
            @include wrapper-page();

            ol {
                li {
                    list-style: decimal;
                }
            }
        }
    }

    footer {
        .copyright {
            position: absolute;
            bottom: 0.5rem;
            right: 1rem;

            p,
            a {
                color: #444;
                font-size: 12px;
            }

            a {
                transition: color 0.2s ease;
                font-weight: 600;
                text-decoration: none;

                &:visited {
                    color: #444;
                }

                &:hover {
                    color: #f14435;
                }
            }
        }
    }
}
